@mixin resets {
  padding: 0;
  margin: 0;
}


@mixin title-font($color) {
  font-family: "Verdana";
  color: $color;
  font-weight: bold;
}

@mixin flex($direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin animation($value: 1.5) {
  // &:not([disabled])
  :hover {
    transform: scale($value);
    transition: transform 250ms, opacity 400ms;
  }
}
